*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Zen Dots";
  background-image: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4)), url(img/background.jpeg);
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 5rem;
  color: #3bcc3b;
}

/* FONT */
/* Roboto regular */

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.eot");
  src: url("fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
       url("fonts/Roboto-Regular.woff2") format('woff2'),
       url("fonts/Roboto-Regular.woff") format('woff'),
       url("fonts/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zen Dots";
  src: url("fonts/ZenDots-Regular.eot");
  src: url("fonts/ZenDots-Regular.eot?#iefix") format('embedded-opentype'),
       url("fonts/ZenDots-Regular.woff2") format('woff2'),
       url("fonts/ZenDots-Regular.woff") format('woff'),
       url("fonts/ZenDots-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

.section-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #3bcc3b;
  padding: 1.6rem 2rem;
  margin-bottom: 2rem;
  font-family: "Zen Dots";
}

.container {
  max-width: 85rem;
  min-height: 40rem;
  margin: 3rem auto;
}

.main {
  display: flex;
  background-color: #ededed;
  box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  font-family: 'Roboto';
}

.main__cookies {
  width: 50%;
  border-right: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#submit--btn {
  border: 0;
  background-color: #3bcc3b;
  color: #fff;
  margin: 0 auto;
  display: block;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  height: 5rem;
  width: 100%;
  font-family: inherit;
}

.form-item {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form-item-usecase {
  margin: 1rem 0;
  padding: 1rem;
  color: #fff;
  display: block;
  background-color: #3bcc3b;
}

.main__server {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.remove-x-frame-usecase {
  display: none;
  padding: 0 20px;
}

.output {
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  margin-top: 5rem;
}

.output__text {
  padding: 2rem;
}

/* fancy checkbox styles */
.fancy-checkbox {
  appearance: none;
  outline: none;
  width: 35px;
  height: 23px;
  position: relative;
  background: #eee;
  border-radius: 40px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.fancy-checkbox:checked {
  background: #3bcc3b;
}

.fancy-checkbox::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -1px;
  left: -4px;
  border-radius: 50%;
  border-bottom: solid 2px rgb(218, 218, 218);
  border-top: solid 2px rgb(218, 218, 218);
  background: rgb(218, 218, 218);
  transition: 0.3s;
}

.fancy-checkbox:checked::before {
  left: 18px;
}
